---
layout: page
title: "Landscapes"
description: "Pictures of various landscapes"
active: portfolio
header-img: "/img/portfolio/07/landscapes-1.jpg"
album-title: "Photos of Landscapes"
images:
 - image_path: /img/portfolio/07/landscapes-1.jpg
   caption: Echo Bluff State Park, Missouri
   mfp-title: Echo Bluff State Park, Missouri
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/07/landscapes-2.jpg
   caption: Flat Tops Wilderness Area, Colorado
   mfp-title: Flat Tops Wilderness Area, Colorado
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/07/landscapes-3.jpg
   caption: Trapper's Lake Lodge Flat Tops Wilderness, Colorado
   mfp-title: Trapper's Lake Lodge Flat Tops Wilderness, Colorado
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/07/landscapes-4.jpg
   caption: Horsetooth Resevoir, Colorado
   mfp-title: Horsetooth Resevoir, Colorado
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/07/landscapes-5.jpg
   caption: Colorado Snow
   mfp-title: Colorado Snow
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/07/landscapes-6.jpg
   caption: Colorado Mountains
   mfp-title: Colorado Mountains
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/07/landscapes-7.jpg
   caption: Colorado Mountains
   mfp-title: Colorado Mountains
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/07/landscapes-8.jpg
   caption: Colorado Mountains
   mfp-title: Colorado Mountains
   copyright: © RainbowMarks.com

---
 
<section id="content" role="main">
  <div class="wrapper">
<br><br>
    <h2>{{page.album-title}}</h2>
    <!-- Gallery __-->
    <div class="container">
      <div class="d-flex justify-content-center">

      {% assign i = 0 %}
      {% assign totimages = page.images.size %}
      {% assign modval = totimages | modulo: 3  %}
      {% assign columncount = totimages | divided_by: 3 %}
      
      {% if modval > 0 %}
        {% assign secondcolumnstart = columncount | plus: 1 %}

        {% if modval == 2 %}
        {% assign thirdcolumnstart = secondcolumnstart | plus: columncount %}
          {% assign thirdcolumnstart = thirdcolumnstart | plus: 1 %}
        {% else %}
          {% assign thirdcolumnstart = secondcolumnstart | plus: columncount %}
        {% endif %}

      {% else %}
        {% assign secondcolumnstart = columncount %}
        {% assign thirdcolumnstart = secondcolumnstart | plus: columncount %}
      {% endif %}
      
      {% for image in page.images %}  		
      {% if i == 0 %}
      <div class="d-flex flex-column">
      {% elsif i == secondcolumnstart %}       
      <div class="d-flex flex-column">
      {% elsif i == thirdcolumnstart %}
      <div class="d-flex flex-column">
      {% else %}
      {% endif %}

      <div class="p-0">
        <figure class="gallery-item">
          <header class="gallery-icon">
            <a href="{% picture direct {{ image.image_path }} %}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            {% picture portthumb {{ image.image_path }} --alt {{ image.caption }} %}
            </a>              
          </header>	
          <figcaption class="gallery-caption">
            <div class="entry-summary" id="{{ image.caption }}">
              <h3>{{image.caption}}</h3>
              <p>{{image.copyright}}</p>
            </div>
          </figcaption>
        </figure>
      </div>	
    {% assign i = i | plus:1 %}
    {% if i == secondcolumnstart %}
    </div>
    {% elsif i == thirdcolumnstart %}
    </div>
    {% elsif i == totimages %}
    </div>
    {% else %}
    {% endif %}
    {% endfor %}        
      </div>
    </div> 
  </div><!-- END .wrapper -->
</section>


<!-- include image popups -->
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript">
    $(document).ready(function($) {
      $('a.popup').magnificPopup({
        type: 'image',
  gallery:{
       enabled:true,
       navigateByImgClick: true,
       preload: [0,1] // Will preload 0 - before current, and 1 after the current image
     },
    image: {
       titleSrc: function(item) {
           return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
          }
      }
        // other options
    });
});
  </script>
