---
layout: page
title: "CrossFit Photography"
description: "Shots from various CrossFit Events"
active: portfolio
header-img: "/img/portfolio/01/crossfit-bg.jpg"
album-title: "CrossFit Photography"
images:
 - image_path: /img/portfolio/01/crossfit-1.jpg
   caption: Noah Ohlsen 2019 CrossFit Games
   copyright: © Rainbowmarks.com
 - image_path: /img/portfolio/01/crossfit-2.jpg
   caption: 2019 CrossFit Games
   copyright: © Rainbowmarks.com
 - image_path: /img/portfolio/01/crossfit-3.jpg
   caption: 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-4.jpg
   caption: 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-5.jpg
   caption: Mat Frazer 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-6.jpg
   caption: 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-7.jpg
   caption: Natalie Hammond CrossFit Competition Lake Of The Ozarks
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-8.jpg
   caption: Ava CrossFit Competition St. Louis
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-9.jpg
   caption: Ed at Heartland Of America CrossFit Competition
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-10.jpg
   caption: Katrin Davidsdottir 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-11.jpg
   caption: 2019 CrossFit Games
   copyright: © Rainbowmarks.com
 - image_path: /img/portfolio/01/crossfit-12.jpg
   caption: Mat Fraser 2019 CrossFit Games
   copyright: © Rainbowmarks.com
 - image_path: /img/portfolio/01/crossfit-13.jpg
   caption: Mat fraser 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-14.jpg
   caption: Tia-Claire 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-15.jpg
   caption: Bethany Shadburne 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-16.jpg
   caption: Tia-Claire 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-17.jpg
   caption: Bethany Shadburne 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-18.jpg
   caption: Noah Ohlsen 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-19.jpg
   caption: Mat Fraser and Noah Ohlsen 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-20.jpg
   caption: Noah Ohlsen 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-21.jpg
   caption: Katrin Davidsdottir 2019 CrossFit Games
   copyright: © Rainbowmarks.com
 - image_path: /img/portfolio/01/crossfit-22.jpg
   caption: Katrin Davidsdottir 2019 CrossFit Games
   copyright: © Rainbowmarks.com
 - image_path: /img/portfolio/01/crossfit-23.jpg
   caption: Annie Thorisdottir 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-24.jpg
   caption: Bethany Shadburne 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-25.jpg
   caption: Chandler Smith 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-26.jpg
   caption: 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-27.jpg
   caption: 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-28.jpg
   caption: 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-29.jpg
   caption: Katrin Davidsdottir 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-30.jpg
   caption: Jamie Greene 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-31.jpg
   caption: Mat Fraser 2019 CrossFit Games
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/01/crossfit-32.jpg
   caption: Mat Fraser 2019 CrossFit Games
   copyright: © RainbowMarks.com
---

	<section id="content" role="main">
		<div class="wrapper">
	<br><br>
			<h2>{{page.album-title}}</h2>
			<!-- Gallery __-->
      <div class="container">
        <div class="d-flex flex-column justify-content-center">
  
        {% assign i = 0 %}
  
        {% assign totimages = page.images.size %}
  
        {% assign modval = totimages | modulo: 3  %}
        
        {% assign columncount = totimages | divide: 3 %}
        {% assign secondcolumnstart = columncount | plus: modval %}
        {% assign thirdcolumnstart = firstcolcount | plus: columncount %}
        
        {% for image in page.images %}  		

        {% if i == 0 %}
        <div class="d-flex flex-column">
        {% elsif i == secondcolumnstart %}
        </div>
        <div class="d-flex flex-column">
        {% elsif i == thirdcolumnstart %}
        </div>
        <div class="d-flex flex-column">
        {% else %}

        {% endif %}


        <div class="p-0">
          <figure class="img-fluid">
            <header class="gallery-icon">

  <a href="{% picture direct {{ image.image_path }} %}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
  {% picture portthumb {{ image.image_path }} --alt {{ image.caption }} %}
  </a>
              
            </header>	
            <figcaption class="gallery-caption">
              <div class="entry-summary" id="{{ image.caption }}">
                <h3>{{image.caption}}</h3>
                <p>{{image.copyright}}</p>
              </div>
            </figcaption>
          </figure>
        </div>	

      {% increment i %}

      {% endfor %}


        </div>
			  </div>
      </div> 
		</div><!-- END .wrapper -->
	</section>


<!-- include image popups -->
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript">
      $(document).ready(function($) {
        $('a.popup').magnificPopup({
          type: 'image',
	  gallery:{
         enabled:true,
         navigateByImgClick: true,
         preload: [0,1] // Will preload 0 - before current, and 1 after the current image
       },
      image: {
         titleSrc: function(item) {
             return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
            }
        }
          // other options
      });
});
    </script>
