
{% assign author = site.authors[post.author] %}
<div class="featuredcard">
    <div class="listfeaturedtag">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="wrapthumbnail">
                        <h2 class="card-title">
                            <a class="text-dark" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </h2>
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            {% if post.image.feature %}
                                {% picture blogcrop {{ post.image.feature }} class="featured-box-img-cover lazyimg"  --alt {{ post.title }} %}
                            {% else %}
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
