<div class="post-author text-center" itemscope itemtype="https://schema.org/Person" itemprop="author">
    <img src="{{ site.baseurl }}/img/{{ site.owner.avatar }}" alt="{{ site.owner.name }}'s photo" itemprop="image" class="post-avatar img-circle img-responsive"/>    
    <h4>
        By 
        <a 
            href="{{ site.owner.web }}" 
            title="About {{ site.owner.name }}" 
            itemprop="url"
        >
            <span itemprop="name" class="fn">{{ site.owner.name }}</span>
        </a>
    </h4>
    <div 
        style="
            font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; 
            display: inline-block; 
            font-size: 0.75em;"
        itemprop="description"
    >
        {{ site.owner.info }}
    </div>
</div>
