{% if include.id %}
  {% assign gallery = page.[include.id] %}
{% else %}
  {% assign gallery = page.gallery %}
{% endif %}

      <!-- Gallery __-->
      <div class="container">
		<div class="row">
			
			{% for img in gallery %}

	<div class="col-md-4 p-0">
			   <figure class="gallery-item">
					 <figure class="effect-selena">
				<header class="gallery-icon">
					<a href="{{ site.url }}{{ site.baseurl }}{{ image.gallery-folder }}">
					{% picture portthumb {{ image.image_path }} --alt {{ image.gallery-name }} %}
					</a>
				</header>	
				<figcaption class="gallery-caption">
					<div class="entry-summary">
						<h3>{{image.image-caption}}</h3>
						<p>{{image.image-copyright}}</p>
					</div>
				</figcaption>
				   </figure>
			</figure>
  </div>
{% endfor %}		
			
		</div>
</div>

