---
layout: "post"
title: "2021 Presidents Day Jamboree"
subtitle: "Mite Hockey Jamboree in St. Louis President&rsquo;s Day Weekend"
active: "blog"
image:
    feature: "/img/posts/2-12-2021.jpg"
date: "2021-02-15T00:12:54+00:00"
permalink: "Events/2021/02/8u-presidents-day-jamboree-2021"
header-img: "/img/posts/2-12-2021.jpg"
comments: "true"
tags: [hockey,event]
---

<p>Over President&rsquo;s Day Weekend we went with the Chesterfield Falcons to the Kirkwood Ice Rink to take part in the 2021 President&rsquo;s Day Jamboree, as well as a pair of games in Webster Groves</p>

<p>Check out some of the photos from their games.</p>

<h2>2/12/2021</h2>
{% include subgallery.html id="2021PresidentsDay1" %}

<br />
<br />

<h2>2/14/2021</h2>
{% include subgallery.html id="2021PresidentsDay2" %}
