---
layout: page
title: "Air Show Photos"
description: "Photos from various Air Shows throughout the years"
active: portfolio
header-img: "/img/portfolio/03/Airshow-bg.jpg"
album-title: "Air Show Photos"
images:
 - image_path: /img/portfolio/03/Airshow-1.jpg
   caption: F-16 in Colorado
   mfp-title: F-16 in Colorado
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-2.jpg
   caption: Sunset Air Show
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-3.jpg
   caption: Blue Angels Crisscrossing the Sky
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-4.jpg
   caption: B-2 Bomber
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-5.jpg
   caption: Blue Angels in a Diamond over Missouri Bluffs
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-6.jpg
   caption: Blue Angel #5 in Flight
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-7.jpg
   caption: Blue Angels to the Moon
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-8.jpg
   caption: Aircraft Propeller
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-9.jpg
   caption: A-10 Engine
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-10.jpg
   caption: Propeller
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-11.jpg
   caption: C-17 from Travis AFB
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-12.jpg
   caption: P-51 Mustang
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-13.jpg
   caption: Air Force Thunderbirds
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-14.jpg
   caption: Air Force Thunderbird Taking Off 
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-15.jpg
   caption: Air Force Thunderbirds in Diamond
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-16.jpg
   caption: Air Force Thunderbirds
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-17.jpg
   caption: Air Force Thunderbirds in Diamond
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-18.jpg
   caption: Air Force Thunderbirds with smoke
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-19.jpg
   caption: Air Force Thunderbirds with smoke black and white
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-20.jpg
   caption: Air Force Thunderbirds with smoke
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-21.jpg
   caption: Air Force Thunderbirds with smoke 
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-22.jpg
   caption: Air Force Thunderbirds burst
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-23.jpg
   caption: Air Force Thunderbirds crisscross 
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-24.jpg
   caption: Black and white aircraft landing
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-25.jpg
   caption: F-16 with moon in background
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-26.jpg
   caption: Royal Air Force Red Arrows
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-27.jpg
   caption: Royal Air Force Red Arrows
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-28.jpg
   caption: F-22 over trees
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-29.jpg
   caption: US Navy Blue Angels
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-30.jpg
   caption: US Navy Blue Angels
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-31.jpg
   caption: US Navy Blue Angels
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-32.jpg
   caption: US Navy Blue Angels in diamond
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-33.jpg
   caption: US Navy Blue Angels in diamond
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-34.jpg
   caption: F-18 cloud burst 
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-35.jpg
   caption: F-18 cloud burst 
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-36.jpg
   caption: Aircraft inlet
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-37.jpg
   caption: Royal Air Force Red Arrows
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-38.jpg
   caption: Royal Air Force Red Arrows
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-39.jpg
   caption: Royal Air Force Red Arrows
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-40.jpg
   caption: F-22
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-41.jpg
   caption: F-22 cloud burst
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-42.jpg
   caption: F-22 cloud burst
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-43.jpg
   caption: F-22 with P-51 Mustang
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-44.jpg
   caption: US Navy Blue Angels over building
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-45.jpg
   caption: US Navy Blue Angels in diamond making a pass
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-46.jpg
   caption: US Navy Blue Angels in diamond making a pass
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-47.jpg
   caption: US Navy Blue Angels in diamond making a pass over a wing 
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-48.jpg
   caption: US Navy Blue Angels making a pass
   copyright: © RainbowMarks.com
 - image_path: /img/portfolio/03/Airshow-49.jpg
   caption: US Navy Blue Angels sun burst
   copyright: © RainbowMarks.com
---
 

<section id="content" role="main">
  <div class="wrapper">
<br><br>
    <h2>{{page.album-title}}</h2>
    <!-- Gallery __-->
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center">

      {% assign i = 0 %}
      {% assign totimages = page.images.size %}
      {% assign modval = totimages | modulo: 3  %}
      {% assign columncount = totimages | divided_by: 3 %}
      
      {% if modval > 0 %}
        {% assign secondcolumnstart = columncount | plus: 1 %}

        {% if modval == 2 %}
        {% assign thirdcolumnstart = secondcolumnstart | plus: columncount %}
          {% assign thirdcolumnstart = thirdcolumnstart | plus: 1 %}
        {% else %}
          {% assign thirdcolumnstart = secondcolumnstart | plus: columncount %}
        {% endif %}

      {% else %}
        {% assign secondcolumnstart = columncount %}
        {% assign thirdcolumnstart = secondcolumnstart | plus: columncount %}
      {% endif %}
      
      {% for image in page.images %}  		
      {% if i == 0 %}
      <div class="d-flex flex-column">
      {% elsif i == secondcolumnstart %}       
      <div class="d-flex flex-column">
      {% elsif i == thirdcolumnstart %}
      <div class="d-flex flex-column">
      {% else %}
      {% endif %}

      <div class="p-0">
        <figure class="gallery-item">
          <header class="gallery-icon">
            <a href="{% picture direct {{ image.image_path }} %}" class="popup" title="{{ image.caption }}" data-caption="{{ image.copyright }}">
            {% picture portthumb {{ image.image_path }} --alt {{ image.caption }} %}
            </a>              
          </header>	
          <figcaption class="gallery-caption">
            <div class="entry-summary" id="{{ image.caption }}">
              <h3>{{image.caption}}</h3>
              <p>{{image.copyright}}</p>
            </div>
          </figcaption>
        </figure>
      </div>	
    {% assign i = i | plus:1 %}
    {% if i == secondcolumnstart %}
    </div>
    {% elsif i == thirdcolumnstart %}
    </div>
    {% elsif i == totimages %}
    </div>
    {% else %}
    {% endif %}
    {% endfor %}        
      </div>
    </div> 
  </div><!-- END .wrapper -->
</section>


<!-- include image popups -->
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript">
    $(document).ready(function($) {
      $('a.popup').magnificPopup({
        type: 'image',
  gallery:{
       enabled:true,
       navigateByImgClick: true,
       preload: [0,1] // Will preload 0 - before current, and 1 after the current image
     },
    image: {
       titleSrc: function(item) {
           return item.el.attr('title') + '&nbsp;' + item.el.attr('data-caption');
          }
      }
        // other options
    });
});
  </script>
